@media only screen and (max-width: 425px) {
	body {
		border: 10px solid #5db13e;
		background-color: #7cf94f !important;
	}
	div {
		border-radius: 2px !important;
		background-color: transparent !important;
		border: none !important;
		padding: 20px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	p.ending {
		color: dodgerblue;
	}
}
body {
	font-family: Arial;
	font-size: 50px;
	background-color: #0c0a3e;
}
label {
	font-size: 60px;
}
input.text {
	border: 3px solid #5db13e;
	border-radius: 10px;
	margin-bottom: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 3px;
	font-size: 30px;
	width: 90px;
	vertical-align: middle !important;
}
div {
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	border: 10px solid #5db13e;
	border-radius: 30px;
	background-color: #7cf94f;
	padding: 50px;
	padding-top: 40px;
	animation-fill-mode: forwards;
	animation-duration: 0.6s;
	padding-bottom: 60px;
}
@keyframes slide {
	to {
		transform: translate(-100%, -50%);
		opacity: 0;
	}
}
@keyframes fate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
input.btn {
	border-radius: 10px;
	cursor: pointer;
	padding: 5px;
	font-size: 20px;
	background-color: white;
	border: 2px solid black;
	font-family: sans-serif;
	transition: 0.2s;
}
input.btn:focus {
	outline: none;
}
input.btn:active {
	box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0, 0.5);
}
input.btn:hover {
	font-size: 30px;
	height: auto;
	width: auto;
}
p {
	color: #99ff00;
	font-size: 36px;
	text-align: center;
	margin-bottom: 0px;
	display: none;
}
p.ending {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
