body {
	background: #1b2838;
	color: #c6d4df;
	font-family: "Motiva Sans", Sans-serif;
}
.image {
	width: 205px;
	height: 205px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: Steam;
	animation-delay: 0.6s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes Steam {
	0% {
		width: 205px;
		height: 205px;
		transform: translate(-50%, -50%);
	}
	100% {
		width: 109px;
		height: 109px;
		transform: translate(-50%, -240%);
	}
}
.contents {
	padding: 90px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 60px;
	border-radius: 3px;
	background-color: #16202d;
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: Steam2;
	animation-delay: 1.6s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes Steam2 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.invito {
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 1px 1px 0px #45556c;
	width: 300px;
	padding: 5px;
	margin: 4px 0;
}
input.btn {
	border-radius: 10px;
	cursor: pointer;
	padding: 5px;
	font-size: 20px;
	background-color: white;
	border: 3px solid #45556c;
	font-family: sans-serif;
	transition: 0.2s;
}
input.btn:focus {
	outline: none;
}
input.btn:active {
	box-shadow: inset 0px 0px 5px 2px rgb(0, 0, 0, 0.5);
}
input.btn:hover {
	font-size: 30px;
	height: auto;
	width: auto;
}
h3 {
	display: none;
}
footer {
	position: absolute;
	bottom: 12px;
	font-size: 14px;
}
